# Derived from the provider-published Swagger 2.0 spec, split by tag.
# source: https://appapi.ironscales.com/appapi/docs/?format=openapi
# original: openapi/_original/ironscales-management-api-openapi.json
# generated: '2026-08-04'
# method: derived
swagger: '2.0'
info:
  title: IRONSCALES Management API — Authorization
  description: The Authorization operations of the IRONSCALES Management API, split by tag from the provider-published Swagger
    2.0 document at https://appapi.ironscales.com/appapi/docs/?format=openapi. Operations, parameters, responses and definitions
    are carried verbatim from the source specification.
  version: v1
host: appapi.ironscales.com
basePath: /appapi
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  JWT:
    type: apikey
    name: Authorization
    in: header
security:
- JWT: []
tags:
- name: Authorization
paths:
  /get-token/:
    parameters: []
    post:
      operationId: get JWT token
      description: 'Get JWT used for interacting with the other endpoints of the AppAPI <br />

        Company Key can be found under Settings -> General -> "Company Token"'
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JwtRequest'
      responses:
        '200':
          description: Successfully Response
          examples:
            application/json:
              jwt: <token>
        '400':
          description: Missing scope list under "scopes"
          examples:
            application/json:
              error_message: explanation
        '403':
          description: One of the following:<ul><li>No company found for API key</li><li>API permission disabled</li><li>Company
            does not have permission for requested scopes</li>
          examples:
            application/json:
              error_message: explanation
      tags:
      - Authorization
definitions:
  JwtRequest:
    required:
    - key
    - scopes
    type: object
    properties:
      key:
        title: Key
        type: string
        minLength: 1
      scopes:
        type: array
        items:
          type: string
          minLength: 1
