openapi: 3.2.0
info:
  title: IRONSCALES Management Authorization API
  description: 'General Error Responses:


    HTTP Status Codes

    Reason


    400

    Not authenticated


    403

    Insufficient rights to call this procedure


    429

    Too many requests (Throttling) the limit is 120 API calls per minute per company'
  termsOfService: https://staticmediafiles.s3.amazonaws.com/static/webapp/docs/IronScalesTermsnService.pdf
  contact:
    email: support@ironscales.com
  securityDefinitions:
    Bearer:
      type: JWT
      name: Authorization
      in: header
  version: v1
servers:
- url: https://appapi.ironscales.com/appapi
security:
- JWT: []
tags:
- name: Authorization
paths:
  /get-token/:
    parameters: []
    post:
      operationId: get JWT token
      description: 'Get JWT used for interacting with the other endpoints of the AppAPI


        Company Key can be found under Settings -> General -> "Company Token"'
      responses:
        '200':
          description: Successfully Response
          content:
            application/json:
              example:
                jwt: <token>
        '400':
          description: Missing scope list under "scopes"
          content:
            application/json:
              example:
                error_message: explanation
        '403':
          description: One of the following:<ul><li>No company found for API key</li><li>API permission disabled</li><li>Company does not have permission for requested scopes</li>
          content:
            application/json:
              example:
                error_message: explanation
      tags:
      - Authorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JwtRequest'
        required: true
      summary: Get JWT token
      x-summary-source: derived
components:
  schemas:
    JwtRequest:
      required:
      - key
      - scopes
      type: object
      properties:
        key:
          title: Key
          type: string
          minLength: 1
        scopes:
          type: array
          items:
            type: string
            minLength: 1
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
