# Derived from the provider-published Swagger 2.0 spec, split by tag.
# source: https://appapi.ironscales.com/appapi/docs/?format=openapi
# original: openapi/_original/ironscales-management-api-openapi.json
# generated: '2026-08-04'
# method: derived
swagger: '2.0'
info:
  title: IRONSCALES Management API — Emails
  description: The Emails operations of the IRONSCALES Management API, split by tag from the provider-published Swagger 2.0
    document at https://appapi.ironscales.com/appapi/docs/?format=openapi. Operations, parameters, responses and definitions
    are carried verbatim from the source specification.
  version: v1
host: appapi.ironscales.com
basePath: /appapi
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  JWT:
    type: apikey
    name: Authorization
    in: header
security:
- JWT: []
tags:
- name: Emails
paths:
  /emails/{company_id}/:
    parameters:
    - name: company_id
      in: path
      required: true
      type: string
    get:
      operationId: List of escalated emails
      description: '<b>Rate Limit</b>: 20 requests per minute<br /><b>Scopes:</b><ul><li>company.view</li></ul>'
      parameters:
      - name: start_time
        in: query
        description: iso-8601 format
        required: false
        type: string
        format: date-time
        x-nullable: true
      - name: end_time
        in: query
        description: iso-8601 format
        required: false
        type: string
        format: date-time
        x-nullable: true
      - name: page
        in: query
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        required: false
        type: integer
        default: 50
        maximum: 300000
        minimum: 1
      - name: recipient
        in: query
        required: false
        type: string
        x-nullable: true
      - name: threat_type
        in: query
        description: 0 - VIP Impersonation, 1 - Business Email Compromise, 2 - Financial Fraud, 3 - Gift Card Request, 4 -
          Fraudulent Request, 5 - Credential Theft, 6 - Advance-fee Scam, 7 - Lottery Scam, 8 - Extortion, 9 - Sextortion,
          10 - Vishing Attack, 11 - Vendor Scam, 12 - Invoice Phishing, 13 - Vendor Email Compromise, 14 - Suspected Malicious
          Content, 15 - Polymorphic Phishing, 16 - Bulk Phishing, 17 - Image-Based Attack, 18 - QR Code Attack, 19 - Vendor
          Scam
        required: false
        type: array
        items:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
        x-nullable: true
      - name: classification
        in: query
        description: 0 - Phishing, 1 - Spam, 2 - Safe, 3 - Unclassified, 4 - Microsoft quarantine, 5 - Released from Microsoft
        required: false
        type: array
        items:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
        x-nullable: true
      - name: is_scanback_report
        in: query
        required: false
        type: boolean
        x-nullable: true
      - name: incident_id
        in: query
        required: false
        type: integer
        x-nullable: true
      - name: challenged_type
        in: query
        description: 'Filter by challenge type. Options: release_request, end_user_report'
        required: false
        type: string
        enum:
        - release_request
        - end_user_report
      responses:
        '200':
          description: Successful Response
          schema:
            $ref: '#/definitions/EmailsResponse'
        '400':
          description: Validation Errors
          examples:
            application/json:
              non_field_errors:
              - Provide incident_id or both start_time and end_time
              threat_type:
                '0': '"99" is not a valid choice.'
              classification:
                '0': '"99" is not a valid choice.'
        '404':
          description: Company was not found
          examples:
            application/json:
            - message: Company not found
        '403':
          description: Permission Denied
          examples:
            application/json:
            - detail: Missing JWT
            - detail: You do not have permission to perform this action.
            - message: You do not have permission for company <company_id>
      tags:
      - Emails
definitions:
  EmailsDetailFromElastic:
    type: object
    properties:
      arrival_date:
        title: Arrival date
        type: string
        format: date-time
        readOnly: true
      incident_id:
        title: Incident id
        type: integer
        readOnly: true
      subject:
        title: Subject
        type: string
        readOnly: true
        minLength: 1
      sender_email:
        title: Sender email
        type: string
        readOnly: true
        minLength: 1
      recipient_name:
        title: Recipient name
        type: string
        readOnly: true
        minLength: 1
      recipient_email:
        title: Recipient email
        type: string
        readOnly: true
        minLength: 1
      primary_threat_type:
        title: Primary threat type
        type: string
        readOnly: true
        minLength: 1
      is_scanback:
        title: Is scanback
        type: boolean
        readOnly: true
      classification:
        title: Classification
        type: string
        readOnly: true
        minLength: 1
      incident_state:
        title: Incident state
        type: string
        readOnly: true
        minLength: 1
      resolution:
        title: Resolution
        type: string
        readOnly: true
        minLength: 1
      sender_ip:
        title: Sender ip
        type: string
        readOnly: true
        minLength: 1
      reported_by:
        title: Reported by
        type: string
        readOnly: true
        minLength: 1
      mailbox_id:
        title: Mailbox id
        type: integer
        readOnly: true
      department:
        title: Department
        type: string
        readOnly: true
        minLength: 1
      remediated_time:
        title: Remediated time
        type: string
        format: date-time
        readOnly: true
      mitigation_id:
        title: Mitigation id
        type: integer
        readOnly: true
      challenged_type:
        title: Challenged type
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      challenged_date:
        title: Challenged date
        type: string
        format: date-time
        readOnly: true
        x-nullable: true
      challenged_by:
        title: Challenged by
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      challenged_reason:
        title: Challenged reason
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      challenged_comment:
        title: Challenged comment
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      opened_on:
        title: Opened on
        description: Get the timestamp when the email was opened/read by the user (before remediation)
        type: string
        format: date-time
        readOnly: true
        x-nullable: true
  EmailsResponse:
    required:
    - emails
    - page
    - total_pages
    - total_count
    type: object
    properties:
      emails:
        type: array
        items:
          $ref: '#/definitions/EmailsDetailFromElastic'
      page:
        title: Page
        type: integer
      total_pages:
        title: Total pages
        type: integer
      total_count:
        title: Total count
        type: integer
